li.tab-select{
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
}

.tab-select.current{
    color: black;
    background-color: white;
}

.tab-select:hover {
    text-decoration: none; border-bottom: 2px solid white; color: unset;
}
.tab-content{
    display: none;
}
.current{
	display:flex;
	align-items:center;
	justify-content:center;
}

.nav-content{
    display: none;
}

.diagnose-table{
    width: 30%;
    height: 55%;
    text-align: center;


}
.diagnose-table td,th{
    padding: 1vw;
    vertical-align: middle;
}

.diagnose-table th{
    background-color: #ABD0CE;
    font-size: 1vw;
}

.diagnose-table th:first-child{
    border-top-left-radius: 10px;
}
.diagnose-table th:last-child{
    border-top-right-radius: 10px;
}

.diagnose-table td{
    background-color: transparent;
    color: black;
    font-size: 0.8vw;
}