<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geonho's Page</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='style_home.css')}}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        input {
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            background-color: transparent;
            border-width: 0px;
            color: white;
            font-size: 20px;
            font-family: 'Nanum Gothic', sans-serif;
        }
        input:hover { text-decoration: none; border-bottom: 2px solid white; color: unset;}
    </style>
</head>
<body>
    <div class="container">
        <header>
            <a name="main"></a>
            <div class="content">
                <ul>
                    <li class="home"><a href="{{ url_for('home') }}"><b>Welcome {{username}}</b></a></li>
                    <li class="scroll">Here is Your App Usage for</li>
                    <li class="scroll">
                        <form action="/show" method=get id="date">
                            <input type="text" name= "date" id="datepick" placeholder="select date" autocomplete="off" >
                        </form>
                    </li>
                    <li class="scroll">
                        <form action="/logout" method=post>
                            <input type=submit value="Logout">
                        </form>
                    </li>

                </ul>
            </div>
        </header>

        <section class="content">
            <div class="description">
                <div class="intro">
                    <h1>How much time do you spend on your phone? Which applications do you use the most?</h1>
                    <ul>
                        <li>1. Select Date</li>
                        <li>2. View</li>
                    </ul>
                </div>
                <div class="category">
                    <h1>Categories of Apps Include</h1>
                    <ul>
                        <li>1. SNS</li>
                        <li>2. Multimedia</li>
                        <li>3. Internet</li>
                        <li>4. Games</li>
                        <li>5. Others</li>
                    </ul>
                </div>
            </div>
        </section>


        <footer>
            <a name="footer"></a>
            <div class="footer">
                <h1><b>IE481 DP4 Mid-Fi prototype</b></h1>
                <h1><b>Used Flask, Dash</b></h1>
            </div>
        </footer>
    </div>


    <script type="text/javascript">
        $(function() {
            $( "#datepick" ).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function (dateText, inst){
                    console.log(dateText)
                    document.getElementById("date").submit(dateText)
                }
            });
        });
    </script>
</body>
</html>