<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NMP-Detector</title>
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='style_home.css')}}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='new_style.css')}}">
    <style>
        #box {
            color: black;
            background-color:white;
            display: flex;
            position:fixed;
            width:95%; 
            max-width:95%;
            height: 75%;
            overflow: hidden;

            display: inline-block;
            border:5px solid #CCC;
            z-index:0;
            margin: 1% auto;
            left: 0;
            right: 0;
        }
        .datepicker-date-display {
            background-color: black;
        }
        .datepicker-table {
            color: black;
        }
    </style>

</head>
<body style="background-color: black; color: white">
    <div>
        <header>
            <nav class="nav-extended grey darken-4">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo left">
                        <img src = "{{url_for('static',filename='logo.PNG')}}" style="height:2%; width:2%; object-fit:contain">
                        Welcome {{username}}!
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="scroll">Here is your App Usage for:</li>
                        <li class="active">
                            <a class="btn black waves-effect waves-light">
                                <input class="white-text" type="text" name= "date" id="datepick" placeholder="Select Date" autocomplete="off" >
                            </a>
                        </li>
                        <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
                        <li><a href="{{ url_for('logout') }}" class="btn grey darken-3 waves-effect waves-light">Log Out</a></li>
                    </ul>
                </div>

                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab-select current" data-tab="tab-1">Self-Monitor</li>
                        <li class="tab-select" data-tab="tab-2">Self-Diagnose</li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div id="box">
                <section class="content">
                    <div id="description" class="center">
                        <div class="about">
                            <img src = "{{url_for('static',filename='NMP-Detector.PNG')}}" class="center" style="max-height:95%; max-width:95%; object-fit: contain;">
                        </div>
                        <div id="tab-1" class="tab-content">
                        </div>
                        <div id="tab-2" class="tab-content">
                        </div>

                    </div>
                </section>
            </div>
        </main>

        <footer class="page-footer grey darken-3 box center-align white-text" style="position:fixed;bottom:0;left:0;width:100%;">
            © 2020 [IE481] Data Visualization: NMP-Detector (Made with Flask, Dash)
        </footer>
    </div>


    <script type="text/javascript">
        let is_gantt = false

        $(function() {
            $("brand-logo").click(function(){
                 $(".nav-content").css("display", "none")
            })
            $('li.tab-select').click(function(){
                   let id = $(this).attr('data-tab')
                   $('.tab-select').removeClass("current")
                   $('.tab-content').removeClass("current")
                   $(this).addClass("current")
                   $('#'+id).addClass("current")
            })

            $( "#datepick" ).datepicker({
                autoClose: true,
                defaultDate: new Date('2019-05-08'),
                minDate: new Date('2019-05-08'),
                maxDate: new Date('2019-05-14'),
                dateFormat: 'yyyy-mm-dd',
                onSelect: function (dateText, inst){

                    dateText_revise = dateText.getFullYear() + "-" + (dateText.getMonth()+1) + "-" + dateText.getDate()
                    console.log(dateText_revise)
                    $.ajax({
                        url: "/chart",
                        type: "GET",
                        contentType: 'application/json;charset=UTF-8',
                        data: {
                            'date': dateText_revise

                        },
                        dataType:"json",
                        success: function (data) {
                            $(".nav-content").css("display", "inherit")
                            $('#tab-1').addClass("current")
                            if (document.getElementsByClassName("about").length > 0){
                                document.getElementsByClassName("about")[0].remove()
                            }
                            const monitor = document.getElementById("tab-1")
                            chart1 = monitor.appendChild(document.createElement("div"))
                            chart1.setAttribute("id", "chart1");
                            chart1.setAttribute("style", "width: 1800px; height: 600px; display: flex; align-items: center; justify-contents: center;");
<!--                            chart1.onclick = function(){-->
<!--                                get_gantt(dateText)-->
<!--                            }-->
                            bar = chart1.appendChild(document.createElement("div"))
                            bar.setAttribute("id", "bar");
                            bar.setAttribute("style", "width: 50%; height: 100%; display: flex; align-items: center; justify-contents: center;");
                            gantt = chart1.appendChild(document.createElement("div"))
                            gantt.setAttribute("id", "gantt");
                            gantt.setAttribute("style", "width: 50%; height: 100%; display: flex; align-items: center; justify-contents: center;");

                            const diagnose = document.getElementById("tab-2")
                            chart2 = diagnose.appendChild(document.createElement("div"))
                            chart2.setAttribute("id", "chart2");
                            chart2.setAttribute("style", "width: 1000px; height: 600px; display: flex; align-items: center; justify-contents: center;");

                            Plotly.newPlot('bar', JSON.parse(data["bar"]));
                            Plotly.newPlot('gantt', JSON.parse(data["gantt"]));
                            Plotly.newPlot('chart2', JSON.parse(data["esm"]));

                        }
                    });
                }
            });

        });
        const get_gantt = (dateText, is) =>{
            console.log("a")
            dateText_revise = dateText.getFullYear() + "-" + (dateText.getMonth()+1) + "-" + dateText.getDate()
            if (!is_gantt){
                $.ajax({
                    url: "/gantt",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        'date': dateText_revise
                    },
                    success: function (gantt_data) {
                        const description = document.getElementById("description")
                        document.getElementById("chart1").innerHTML = ""
                        Plotly.newPlot('chart1', JSON.parse(gantt_data))
                        is_gantt = !is_gantt
                    }
                })
            }
            else{
                $.ajax({
                    url: "/bar",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        'date': dateText_revise
                    },
                    success: function (bar_data) {
                        const description = document.getElementById("description")
                        document.getElementById("chart1").innerHTML = ""
                        Plotly.newPlot('chart1', JSON.parse(bar_data))
                        is_gantt = !is_gantt
                    }
                })
            }
       }
    </script>
</body>
</html>