<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='style_register.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Register Page</h1>
        </header>
        <br><br>
        <section class="content">
            {% if error %}
                <div class=error>
                    <strong>Error:</strong> {{ error }}
                </div>
            {% endif %}
            <br>
            <form action="/register" method=POST>
                <ul>
                    <li>Username:</li>
                    <li><input type=text name=username size=30 ></li>
                    <li>Email:</li>
                    <li><input type=text name=email size=30 ></li>
                    <li>Password:</li>
                    <li><input type=password name=password size=30></li>
                    <li>Password<small>(repeat)</small>:</li>
                    <li><input type=password name=password2 size=30></li>
                </ul>
                <br><br>
                <div class="action"><input type=submit value="Sign Up"></div>
            </form>
            <br><br>
            <div class="footer">
                <a href="{{ url_for('login') }}">Already have ID</a>
            </div>
        </section>
    </div>

</body>
</html>