{% extends "layout.html" %}
{% block head %}
    <nav>
        <div class="nav-wrapper grey darken-4">
        <a href="{{ url_for('home') }}" class="brand-logo right">NMP-Detector</a>
        <div class="container">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            </ul>
        </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container">
        <h2>Sign Up</h2>
        {% if error %}
            <div class="card-panel black white-text">
                <strong>Error:</strong> {{ error }}
            </div>
        {% endif %}
        <form action="" method=post>
            <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <input type=text name=username value="{{request.form.username}}" style="color: white">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type=text name=email size=30 value="{{ request.form.email }}" style="color: white">
                <label for="email">E-Mail</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">arrow_forward</i>
                <input type=password name=password size=30 style="color: white">
                <label for="password">Password</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">arrow_forward</i>
                <input type=password name=password2 style="color: white">
                <label for="password2">Password Confirm</label>
            </div>
            <input type=submit value="Register" class="btn white waves-effect waves-light">
        </form>
    </div>
{% endblock %}